<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="page_title">CressExpress</ui:define>
    <ui:define name="page_content">  
        <div class="fuelux">
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <div>
                    <ui:insert name="step_content"/>
                </div>
            </div>
        </div>
    </ui:define>
    <ui:define name="inserted-js">
        <script type="text/javascript">
            $(document).ready(function() {
                $("#myWizard ul.steps").find("li").removeClass("complete");
                $("#myWizard ul.steps").find("span.badge").removeClass("badge-success");
            });
        </script>
        <ui:insert name="additional-js"/>
    </ui:define>


</ui:composition>