<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress Error</ui:define>
    <ui:define name="page_content">    	
        <h2>An error has occurred, or this page doesn't exist</h2>
        <div class="col-md-6">
            <h:button styleClass="btn btn-primary" value="Click Here to Return to the Home Page" outcome="home.xhtml" />
        </div>
    </ui:define>

</ui:composition>