<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/mainTemplate.xhtml">

    <ui:define name="page_title">CressExpress Submission Review Page</ui:define>
    <ui:define name="page_content">    	
        <div class="row">
            <h2 class="text-center">Your job has been submitted successfully.</h2>            
        </div>
    </ui:define>

</ui:composition>